body {
  background-color: #8aa3c2;
}

.Table {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 8vh;
  width: 100%;
}

.Table__header {
  background-color: #8aa3c2;
  display: flex;
  flex-direction: column;
  height: 8vh;
  margin: 10px;
  width: 100vw;
}

.cell {
  height: 100px;
  text-align: center;
  width: 200px;
}
